<div class="dropdown show">

  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ list.current }}
  </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    {% for item in list.list %}
      <a class="dropdown-item" href="/{{ title }}/{{ item.id }}/characters">{{ item.value }}</a>
    {% endfor %}
  </div>

</div>