<div class="dropdown show">

  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ current }}
  </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    {% for item in list %}
      <a class="dropdown-item" href="/episodes/{{ item.id }}">{{ item.episode }} {{ item.name }}</a>
    {% endfor %}
  </div>

</div>