<header class="navbar navbar-expand">
  <a class="navbar-brand plumbus" href="/plumbus"><img src="images/plumbus.png" height="80" alt="plumbus" /></a>
  <a class="navbar-brand logo" href="/"><img src="images/logo.png" height="80" alt="logo" /></a>

  <span class="page-title">{{ page.title|upper }}</span>

  {% if page.filter %}
    <div class="filter-select ml-auto">
      {% include 'partials/character-filter.twig' %}
    </div>
  {% endif %}
</header>