<div class="container character-list">

    <div class="row">
        {% if characters is empty %}
            <h2 class="section-title"> No characters to display. Select {{ page.title }} </h2>
        {% else %}
            <h2 class="section-title"> Characters in {{ list.current }} </h2>
        {% endif %}
    </div>
    
    <div class="row">
        {% for character in characters %}

            <div class="col-4">
                {% include 'partials/character-profile.twig' %}
            </div>

        {% endfor %}
    </div>

</div>

{% block scripts %}
    <script src="javascripts/jquery.matchHeight-min.js"></script>
    <script src="javascripts/character-list.js"></script>
{% endblock %}